.pad{
    top: 50%;
    left: 60%;
    transform: translateY(-50%);

    // ipads

        .ipads {
            width: 15.8em;
            height: 23.6em;
            border-radius: 1.875em;

            position: relative;
            display:inline-block;
            background: #fff;
            box-shadow: 0 0.5em 2em 0.2em rgba(0, 0, 0, 0.616);
            
            .ipads__power-btn{
              width: 2.188em;
              height: .188em;
              background: #e0e0e0;
              position: absolute;
              right: 2.5em;
              top: -.188em;
            }
            .ipads__details {
                width: .438em;
                height: .438em;
                border-radius: 100%;
                position: relative;
                top: 1.313em;
                left: 50%;
                transform: translateX(-50%);
                background: #7c7c7c;
                
              }

              .ipads__home-btn {
                width: 2em;
                height: 2em;
                border-radius: 100%;
                position: absolute;
                bottom: 0.5em;
                left: 50%;
                transform: translateX(-50%);
                background: #f7f7f7;
                
                &:before {
                  content: '';
                  width: .713em;
                  height: .713em;
                  border: .15em solid #a8a8a8;
                  border-radius: .2em;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                }
              }

              .ipads__screen {
                width: 92%;
                height: 75%;
                position: absolute;
                top: 2.75em;
                left: 50%;
                transform: translateX(-50%);
                overflow: hidden;
                background-color: #333;

                .ipads__content {
                    position: relative;
                    background-color: #333;
                    width:100%;
                    height:100%; 
                    transition: all .1s linear, line-height 0s linear;
                
                    .ipad__inner_content{
                        background: #333;
                        width: 100%;
                        height: 100%;
                        position: relative;
                
                    }
                
                
                    &:before {
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: #3741516c;
                        z-index: 100;
                
                
                    }
                
                    &:hover {
                        
                
                        &:before{
                            background: transparent;
                            transition: all .5s linear, line-height 5s linear;
                        }
                    }
                  }
              }
        }
// ipads end
}