
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body{
	overflow-x: hidden;
}

$mainblack: #22262b;
$amain: #fbb053;
$grisclaro: #e0e2e2;
$display: #abadc6;
$item: #d1c9bf;
$codred: #ac5e47;

.main-container{
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	height: 100vh;
	width: 100vw;
	article{
		height: 100vh;
		scroll-snap-align: start;
	}
}

@import 'intro/intro';
@import 'about/about';
@import 'work/computer';
@import 'work/pad';
@import 'work/phone';
@import 'work/works-info';